/*Colour Palette
/---------------
#0B2343 - Oxford Blue
#ffcc05 - Sunglow
#FF6B40 - Outrageous Orange
#00BAE4 - Cyan Process
*/


/* Fonts
/-------
font-family: 'Montserrat', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/

html {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
}
.container{
	padding: 0 5%;
}

/* header */
header{
	background: url('/img/animated-header-image.svg');
	height: 100vh;
}
.navbar{
	display: flex;
	justify-content: space-between;
}
nav{
	background-color: #0B2343;
}

.logo img{
	height: 3rem;
	width: auto;
	margin: 0.2rem 0;
}
.links ul li{
	list-style-type: none;
	margin: 1.2rem 0;
}
.links ul li a{
	color: #fff;
	text-decoration: none;
	padding: 1.25rem;
	font-weight: 600;
	/* background-color: blueviolet; */
	transition: 0.3s ease-in-out;
}
.links ul li a:hover{
	background-color: #ffcc05;
	color: #0B2343;
}

.links ul{
	display: flex;
	height: 100%;

}
/* ___________________ */


/* main */
.brand-pillars{
	display: grid;
	grid-template-columns: auto auto auto auto
}
.brand-pillars div{
	padding: 2rem 0.8rem;
	text-align: center;
	cursor: pointer;
	/* transition: 0.2s ease-in-out; */
}

.brand-pillars div:nth-child(1){
	background-color: #ffcd0583;
	border-bottom: 10px solid #ffffff00;
	transition: 0.2s ease-in-out;
}
.brand-pillars div:nth-child(2){
	background-color: #ffcd055d;
	border-bottom: 10px solid #ffffff00;
	transition: 0.3s ease-in-out;
}
.brand-pillars div:nth-child(3){
	background-color: #ffcd0548;
	border-bottom: 10px solid #ffffff00;
	transition: 0.4s ease-in-out;
}
.brand-pillars div:nth-child(4){
	background-color: #ffcd0536;
	border-bottom: 10px solid #ffffff00;
	transition: 0.5s ease-in-out;
	
}
.brand-pillars div:hover{
	border-bottom: 10px solid #0B2343;
}
.brand-pillars div h2{
	margin-bottom: 0.8rem;
	font-weight: 400;
}







