/*Colour Palette
/---------------
#0B2343 - Oxford Blue
#ffcc05 - Sunglow
#FF6B40 - Outrageous Orange
#00BAE4 - Cyan Process
*/


/* Fonts
/-------
font-family: 'Montserrat', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/

html {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
}
.container{
	padding: 0 5%;
}

/* header */
.navbar{
	display: flex;
	justify-content: space-between;
}
nav{
	background-color: #0B2343;
}
.logo{
	/* display: flex; */
}
.logo img{
	height: 3rem;
	width: auto;
	margin: 0.2rem 0;
}
.links ul li{
	list-style-type: none;
	margin: 1.2rem 0;
}
.links ul li a{
	color: #fff;
	text-decoration: none;
	padding: 1.25rem;
	/* background-color: blueviolet; */
	transition: 0.3s ease-in-out;
}
.links ul li a:hover{
	background-color: #ffcc05;
	color: #0B2343;
}

.links ul{
	display: flex;
	height: 100%;

}

/* ___________________ */











