/*Colour Palette
/---------------
#0B2343 - Oxford Blue
#ffcc05 - Sunglow
#FF6B40 - Outrageous Orange
#00BAE4 - Cyan Process
*/


/* Fonts
/-------
font-family: 'Montserrat', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

ul{
	padding:0;
	list-style:none;
}

img{
	height: 320px;
	width:320px;
}

h1{
	color: #0B2343;
	font-family: 'Source Sans Pro',sans-serif;
	font-weight: 900;
	font-size: 3rem;
}

h2{
	color: #0B2343;
	font-family: 'Source Sans Pro',sans-serif;
	font-weight: 700;
	font-size:2rem;
}

h3{
	color: #0B2343;
	font-family: 'Source Sans Pro',sans-serif;
	font-weight: 700;
	font-size: 1.5rem;
}


p{
	font-family:'Montserrat',sans-serif;
	font-weight: 400;
	font-size:1.1rem;
}

.colour{
	height:160px;
	width:160px;
	border:none;
}
.blue{
	background-color: #0B2343;

	color:#ffcc05;
}
.yellow{
	background-color:#ffcc05;
}
	
.flame{
	background-color:#FF6B40;
}

.light-blue{
	background-color:#00BAE4;
}

.logo-dark{
	background-color: #0B2343;
}
















