/* 
COLOUR PALETTE
https://coolors.co/114b5f-1a936f-88d498-c6dabf-f3e9d2
 
almost-black: #343434
almost-white: #f7fff7
yellow-crayola: #F3E47Aff;
independence: #413f54ff;
liberty: #f5aa2ff5;
y-in-mn-blue: #355691ff;
onyx: #3f4045ff;
cinnabar: #DC4731ff;
*/

/* Global Styles
--------------------------------------*/

html{
    box-sizing:border-box;
}
*,*:before,*:after {
    box-sizing:inherit;
}

body {
    color: #343434;
    margin: 0;
    padding:0;
    font-family:  'montserrat', sans-serif;
    line-height: 1.5;
}
.content-wrapper{
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
}
image{
    width:300px;
}
a {
    color:#355691ff;
}
a:hover{
    text-decoration:nothing;
}

h1{
   font-size:70px; 

}

h2{
    font-size:60px;
}
h1,h2 {
    font-family:'Pacifico', cursive;
    font-weight: 400;
    margin:0;
}

.divider > section {
    border-bottom: 1px dashed #343434;
    padding: 25px 0;
}

.divider > section:last-of-type{
    border-style:none;
}

/* Profile
--------------------------------------*/

header{
    color: #355691ff;
    text-align: center;
    background-color:#F3E47Aff ;
    background-image: url("../images/SpongeBob_stock_art.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20%;
}

header h2{
    font-size:40px;
    color:#DC4731ff;
    margin-top:20px; 
}

header p {
    font-size:20px;
    margin-top:30px;
}

/* Projects
--------------------------------------*/
.projects {
    background: #c6dabfff;
}

.projects h2 {
    color: #355691ff;
}
.project-item{
    overflow:hidden;

}
.project-item img{
    float:left;
    margin-right: 20px;
}

.project-item h3{
    margin-top:0;
    color: #355691ff;
}


/* Work Experience
--------------------------------------*/
.work-experience {
    color:#F3E47Aff;
    background: #413f54ff;
}

.work-experience h3 {
    font-size: 30px;
}
.job-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
/* Education
--------------------------------------*/

/* Contact Info
--------------------------------------*/
footer {
    background:#F3E47Aff ;
    color:#f7fff7;
    text-align:center;
}

.contact-list{
    list-style-type:none;
    padding:0;
    display: flex;
    justify-content: center;
}

.contact-list a{
    padding: 15px;
    display: inline-block;
}
